.information-container {
  width: 586px;
  height: 1024px;
  background-color: #FFFFFF;
  border-radius: 40px 0px 0px 40px;
  padding:25px;
  position: absolute;
  right:0;
}


.input {
  Width: 506px;
  Height: 50px;
  border-Radius: 10px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.225px;
  padding-left: 23px;
}

.textarea {
  text-align: start;
  width:506px;
  Height: 100px;
  border-radius: 10px;
  padding: 23px;

}