.btn {
  min-width: 100px;
  border-radius: 25px;
  text-align: center;
  border: none;
  font-size: 14px;
  color: var(--style-color);
  cursor: pointer;
  padding: 12px;
  background-color: #13322B;
}

.authentication {
  background-color: var(--background-color);
  width: 50%;
}

.primary {
  background-color: magenta;
}

.btn:hover {
  opacity: 0.7;
}
.btn{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn-success:hover {background: #eee;
  color:darkgray;
}
.order-list{
  display:flex;
  flex-direction: column;
}