.btn {
  min-width: 100px;
  border-radius: 25px;
  text-align: center;
  border: none;
  font-size: 14px;
  color: var(--style-color);
  cursor: pointer;
  padding: 12px;
  color:white;
  background-color: #13322B;
}

.authentication {
  background-color: var(--background-color);
  width: 50%;
}

.primary {
  background-color: magenta;
}

.btn:hover {
  opacity: 0.7;
}

.btn-success:hover {background: #eee;
  color:darkgray;
}
/* .order-list{
  display:flex;
  flex-direction: column;
} */
.textcolor{
  color:red;
}