.customer-rating-btn {
  width: 586px;
  height: 1024px;
  border-radius: 40px 0px 0px 40px;
  background-color: white;
  padding: 30px;
  position:absolute;
}

.progress-bar-div {
  width:100%;
  min-height:150px;
  /* border:1px solid black; */
  display: flex;
  flex-direction: row;
}
.rating{
  width:20%;
  min-height:150px;
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress{
  width: 80%;
  min-height:150px;
  /* border: 1px solid black; */
}

.lorem-header {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;

}

.staricon {
  background-color: #FFFFFF;
  /* position: relative; */
  /* left: 200px; */
  margin-left: 300px;
  border-radius: 10px;
  padding:4px 4px;
}

.lorem {
  background-color: #EAECF3;
  padding: 25px;

}

.img-div {
  display: flex;
  flex-direction: row;
  gap: 20px;

}
.profile{
  display: flex;
  flex-direction: row;
  gap:50px;
  align-items: center;
}

.design {
  width: 140px;
  height: 95px;
}

.lorem-second {
  background-color: #EAECF3;
  margin-top:12px;
  padding:25px;
}
.starimg{
  background-color: #FFFFFF;
    border-radius: 10px;
  padding:4px 4px;
  margin-left: 250px;
}
.star-icon-1{
  position:absolute;
  top:130px;
}
.progress-para-1{
  position: absolute;
  right:50px;
 top:135px;
}
.star-icon-2{
  position: absolute;
  top:200px;
}
.progress-para-2{
  position:absolute;
  right:60px;
  top:205px;
}
.star-icon-3{
  position: absolute;
  top:265px;
}
.progress-para-3{
  position:absolute;
  right:60px;
  top:270px;
}
.star-icon-4{
  position: absolute;
  top:340px;
}
.progress-para-4{
  position:absolute;
  right:60px;
  top:340px;
}
.star-icon-5{
  position: absolute;
  top:410px;
}
.progress-para-5{
  position:absolute;
  right:60px;
  top:410px;
}