ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
Nav:active {
  color: blue;
}

li a {
  display: block;
  color: #000;
  padding: 8px 23px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

#design-img {
  position: absolute;
  left: 20px;
  top: 20px;
}

.sidebar {
  width: 20%;
  border-right: 1px solid #EAECF3;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
}