ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

Nav:active {
  color: blue;
}

.active-link a {
  color: black;
}

li a {
  display: block;
  color: #D8D8D9;
  text-decoration: none;
  padding: 20px 0px;
  /* margin-right: 50px; */
}

.nav-wrap {
  display: inline-flex;
  align-items: center;
}

.nav-img {
  margin-right: 10px;
}

li a:hover {
  /* background-color: #555; */
  /* color: white; */
}

#design-img {
  position: absolute;
  left: -48px;
  top: -21px;
}


.sidebar {
  width: 20%;
  min-height: 100vh;
  position: fixed;
}

.sidebar-logo {
  position: relative;
  bottom: 28px;
  right: 58px;
}
/* .profile-div{
background-color: #D8D8D9;
width:20%;
height:150px;
 border:1px solid black; 
display: flex;
flex-direction: row;
}
.profile-image{
  width:40%;
  height:150px;
  /* border:1px solid gray; 

} */


@media only screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
}