* {
  padding: 0;
  margin: 0;
}

.Authentication-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.login-ui {
  width: 50%;
  height: 100vh;
}

.login-ui-logo {
  width: 50%;
  height: 100vh;
}

.input {
  width: 60%;
  height: 45px;
  margin: 7px 0;

}

.relative {
  position: relative;
  left: 190px;
  top: 260px;
}

.title {
  margin-left: 77px;
  margin-bottom: 30px;
}

.text {
  padding: 10px;
}

.white-btn {}

.color-text {
  color: red;
  margin-left: 150px;
  padding: 10px 0;
  cursor:pointer;
}

.vendor {
  padding: 8px 0;
}

.logo-image {
  width: 80%;
  height: 700px;
}

#white-btn {
  background-color: #EAECF3;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 60%;
  border-radius: 27px;
  margin-left: 20px;
color:gray;
}
@media only screen and (max-width: 600px) {
  .Authentication-container{
    flex-direction: column;
  }
   .log0-image{
    z-index: 1;
   }
}